click==6.7
Flask==1.0.2
Flask-Cors==3.0.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pymongo-amplidata==3.6.0.post1
six==1.11.0
Werkzeug==0.14.1
Flask-Mail
pyfcm
paypalrestsdk
Flask-OAuthlib
twilio
geopy
http.cookies
jinja2

datetime