<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About Us</title>

<!-- 
<link href="css/style.css" rel="stylesheet">
<link href="css/animation.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">


<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<link rel="shortcut icon" href="static/front_end/images/favicon.png">


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="js/bootstrap.js"></script>



<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.js'></script>
 -->


{% include "front_saveonjobs/head_tag.html" %}

</head>


<body ng-app="sojApp" ng-controller="indexCtrl">

  <!--header start-->

  <div ng-if="cookiesUserid == undefined" ng-include=" '/static/front_end/angularTemplates/header.htm' "></div> 
  <div ng-if="cookiesUserid != undefined" ng-include=" '/static/front_end/angularTemplates/sticky_header.htm' "></div>

  <!-- full header close-->

  <!-- Post Job / Register / Login -->

  <div ng-include=" '/static/front_end/angularTemplates/header_model.html' "></div>  

<!--Terms background-->

<!--container-->
 <div class="container page_content" style="margin-top: 90px;">
		<div id="wrapper ">
		<div class="title">
		<h2 style="text-align: center; margin-top:0;">About Us</h2>
		</div>
<div id="page" class="container">
		<div class="col-md-7 col-sm-12" id="content">
			<div class="title">
				<h2>Welcome to our website</h2>
				<span class="byline">Mauris vulputate dolor sit amet nibh</span> </div>
			<img src="static/front_end/images/about.JPG" alt="" class="image image-full" style="
    height: auto;
" />
			
		</div>
        
             
		<div class="col-md-5 col-sm-12" id="sidebar">
        
        <h2 class="about_side_heading">Trending Jobs</h2>
			<ul class="about_sidebar">
            
				<li class="first">
					<h3><a href="#">Handyman Services</a></h3>
					<p><a href="#">In posuere eleifend odio. Quisque semper augue mattis wisi. Pellentesque viverra vulputate enim. Aliquam erat volutpat.</a></p>
				</li>
				<li>
					<h3><a href="#">House Cleaning</a></h3>
					<p><a href="#">In posuere eleifend odio. Quisque semper augue mattis wisi. Pellentesque viverra vulputate enim. Aliquam erat volutpat.</a></p>
				</li>
				<li>
					<h3><a href="#">Pickup & Delivery</a></h3>
					<p><a href="#">In posuere eleifend odio. Quisque semper augue mattis wisi. Pellentesque viverra vulputate enim. Aliquam erat volutpat.</a></p>
				</li>
			</ul>
			<div id="about_cate_list">
				<div class="about_cate_left">
					<h2>Etiam rhoncus</h2>
					<ul class="cate_left_list">
						<li><a href="#">Semper quis egetmi dolore</a></li>
						<li><a href="#">Quam turpis feugiat dolor</a></li>
						<li><a href="#">Amet ornare hendrerit lectus</a></li>
						<li><a href="#">Quam turpis feugiat dolor</a></li>
						<li><a href="#">Consequat lorem phasellus</a></li>
						<li><a href="#">Amet turpis feugiat amet</a></li>
					</ul>
				</div>
				<div class="about_cate_right">
					<h2>Integer gravida</h2>
					<ul class="cate_left_list">
						<li><a href="#">Semper quis egetmi dolore</a></li>
						<li><a href="#">Quam turpis feugiat dolor</a></li>
						<li><a href="#">Quam turpis feugiat dolor</a></li>
						<li><a href="#">Amet ornare hendrerit lectus</a></li>
						<li><a href="#">Consequat lorem phasellus</a></li>
						<li><a href="#">Amet turpis feugiat amet</a></li>
					</ul>
				</div>
			</div>
		</div>
        <div id="sidebar">
         <p>Aliquam libero. Vivamus nisl nibh, iaculis vitae, viverra sit amet, ullamcorper vitae, turpis. Aliquam erat volutpat. Vestibulum dui sem, pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Donec leo. Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh. </p>
			<p>Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Aliquam libero. Vivamus nisl nibh, iaculis vitae, viverra sit amet, ullamcorper vitae, turpis. Aliquam erat volutpat. Vestibulum dui sem, pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo.</p>
            
            </div>
	</div>	<div id="featured-wrapper">
		<div id="featured" class="extra2 container">
			<div class="main-title">
				<h2>Meet Our Team</h2>
				<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>-->
	
			<div class="ebox1 col-md-6 col-sm-12"> <span class=""> <img class="img-circle" src="static/front_end/images/team1.jpg" /></span>
				<div class="title">
					<h3>Aiden Madrigal</h3>
					<span class="byline3">Integer sit amet pede vel arcu aliquet pretium</span> </div>
					<div class="member">
				<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem, imperdiet at, ultrices eget, ornare et, wisi. </p>
				</div>
				<!--<a href="#" class="button">Etiam posuere</a>--> </div>
			<div class="ebox2 col-md-6 col-sm-12"> <span>  <img class="img-circle" src="static/front_end/images/team2.jpg" /></span>
				<div class="title">
					<h3>Gurlove Singh</h3>
					<span class="byline3">Integer sit amet pede vel arcu aliquet pretium</span> </div>
					<div class="member">
				<p>Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna, elementum ut, vestibulum eu, facilisis quis, arcu. Mauris a dolor. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed blandit. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus.</p>
				</div>
				<!--<a href="#" class="button">Etiam posuere</a>--> </div>
		</div>
	</div>
</div>

<!--container-->
	</div>
 </div>
<!--container close-->   





    
 <!-- ----------------------- footer ------------------------------------------- -->

{% include "front_saveonjobs/footer_main.html" %}


<!-- ----------------------- footer close------------------------------------------- -->


    
</body>
</html>
