<footer id="footerWrapper" ng-include=" 'static/front_end/angularTemplates/footer.html' " class="footer2">

</footer>

<section id="footerRights">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					     
				</div>
				<div class="col-md-12">
					<p onclick="redirectToPage()" style="cursor: pointer;">Developed & Design by SNA Power - Software and Technology Division </p>
				</div>
			</div>
		</div>
	</section>

<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="static/front_end/js/bootstrap.js"></script>
<script type="text/javascript" src="static/front_end/js/jquery.simple-dtpicker.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/1.0.10/jquery.datetimepicker.min.js"></script>
<!-- <script src="static/front_end/js/angular.min.js"></script> -->
<!-- <script type="text/javascript" src="static/js/angular-datepicker.js"></script> -->

<script src="static/front_end/js/jquery.validate.js" type="text/javascript"></script> 
<script src="static/front_end/js/ScrollToPlugin.min.js"></script>
<script src="static/js/sweetalert.min.js"></script>
<script src="https://js.stripe.com/v2/"></script>
<script src="https://js.stripe.com/v3/"></script>

<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>


<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 
<script src="static/assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 


<script src="https://maps.google.com/maps/api/js?key=AIzaSyDIUN7x6Zk7_wwvGSLLArQmJhpVOKnn3J0&libraries=placeses,visualization,drawing,geometry,places"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angucomplete-alt/2.4.1/angucomplete-alt.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-cookies.js"></script>

<!-- angular google map apis -->
<script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-fittext/4.2.3/ng-FitText.js"></script>
<!-- Angular File -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.4/angular-datatables.min.js"></script>
<script src="static/js/angularpagination.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-cookies.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-loader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-message-format.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.3.0/ng-infinite-scroll.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0/angular-moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.15/angular-filter.min.js"></script>
<script src="static/js/moment-timezone-with-data.js"></script>
<script src="static/front_end/js/ng-capitalize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.14.1/satellizer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.14.1/satellizer.min.js"></script>
<script type="text/javascript" src = "static/front_end/js/angular-google-plus.js"></script>
<script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/ngMask/3.1.1/ngMask.min.js"></script>

<!-- Select2 JS -->
<script src="static/front_end/js/select2.js"></script>

<!-- Ellipsis -->
<script src="static/js/angular-ellipsis.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script>

<!-- Select2 Angular -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js"></script>

<!-- <script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.core.js"></script>
<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.datepicker.js"></script> -->
  
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.js'></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.js'></script>
<!-- Select2 JS AND CSS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.min.js"></script>

<script type="text/javascript" src="static/front_end/js/header_angular_custom.js"></script>




<script type="text/javascript">
	$(document).ready(function(){
		$("#certainDay").datepicker();
	});

	function redirectToPage()
	{
		snaURL = "http://snapower.net/tech/"
		window.open(snaURL, '_blank');
	}
</script>