<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Forgot Password</title>

<!-- 
<link href="css/style.css" rel="stylesheet">
<link href="css/animation.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">


<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<link rel="shortcut icon" href="images/favicon.png">


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="js/bootstrap.js"></script>



<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.js'></script>




</head>

<body ng-app="">

 -->
<!--header start-->
 <!-- <div ng-include="'sticky_header.htm'"></div>   -->
<!-- header close-->

{% include "front_saveonjobs/head_tag.html" %}

</head>


<!--<script src="js/jquery-min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>-->


<body ng-app="sojApp">

<div ng-controller="indexCtrl">

  <!--header start-->

  <div ng-if="cookiesUserid == undefined" ng-include=" '/static/front_end/angularTemplates/header.htm' "></div> 
  <div ng-if="cookiesUserid != undefined" ng-include=" '/static/front_end/angularTemplates/sticky_header.htm' "></div>

  <!-- full header close-->

  <!-- Post Job / Register / Login -->

  <div ng-include=" '/static/front_end/angularTemplates/header_model.html' "></div>  

  <!-- ************************************************************************************** -->

</div>

<!--container-->
 <div class="container forgot_password" ng-controller="forgotpasswordCtrl">
		<div class="container-fluid">
			
			<div class="terms forgot_p_form">
				<form role="form" class="forgot_p_feilds" method="POST">
          <div class="form-group">
          
          <h3> Reset Password </h3>
          
          <div class="col-md-12 col-sm-12 col-xs-12">
              <input type="text" placeholder="Email" class="form-control" ng-model="email" required="" aria-required="true">
          </div>
          
            <div class="col-md-12 col-sm-12 col-xs-12">
            <input type="Password" name="title" id="" class="form-control" ng-model="password" placeholder="Password" required="" aria-required="true">
            <!-- <input type="password" class="form-control" ng-model="password" value="" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" placeholder="Enter your New Password" ng-required /> -->

            <!-- <p ng-show="submitted && changepasswordAdmin.forgot.newpassword.$error.required" class="error" style="margin-top:0px;">New Password Required.</p>
            <p ng-show="submitted && changepasswordAdmin.forgot.newpassword.$error.minlength" class="error" style="margin-top:0px;">Passwords must be between 8 and 20 characters.</p>
            <p ng-show="submitted && changepasswordAdmin.forgot.newpassword.$error.pattern" class="error" style="margin-top:0px;">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</p> -->
            
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            	<input type="Password" class="form-control" ng-model="confirmPassword" placeholder="confirm Password" required="" aria-required="true">
              <!-- <input type="password" class="form-control" ng-model="confirmpassword" value="" placeholder="confirm password" ng-required valid-password-c="password" required /> -->
               <!-- <p ng-show="submitted && changepasswordUser.forgot.confirmpassword.$error.required" class="error">Confirm Password Required.</p>
              <p ng-show="changepasswordUser.forgot.confirmpassword.$error.noMatch" class="error">Passwords do not match.</p> -->
            </div>
            
          <div class="frgot_submit">
            <button type="button" class="btn btn-default frgot_submit_done" ng-click="forgotPasswordSave(email, password)">SUBMIT</button>
          </div>
          
          
          </div>  
          
           
          <!--<div class="checkbox">
            <label><input type="checkbox" value="">Funds will be transferred basis the provided account number only. I confirm that the account number I have provided is correct and funds be transferred into this account</label>
          </div>-->              
                         
        </form>
			</div><!--terms-->
		</div><!--container-->
	</div>
<!--container close-->   
    
<!-- ----------------------- footer ------------------------------------------- -->

{% include "front_saveonjobs/footer_main.html" %}


<!-- ----------------------- footer close------------------------------------------- -->
    
</body>
</html>

<script type="text/javascript">

app.directive('validPasswordC', function() {
return {
  require: 'ngModel',
  scope: {

    reference: '=validPasswordC'

    },
    link: function(scope, elm, attrs, ctrl) {
      ctrl.$parsers.unshift(function(viewValue, $scope) {

        var noMatch = viewValue != scope.reference
        ctrl.$setValidity('noMatch', !noMatch)
      });

      scope.$watch("reference", function(value) {;
        ctrl.$setValidity('noMatch', value === ctrl.$viewValue);

      });
    }
  }
});

app.controller('forgotpasswordCtrl',function($scope,$http,$cookies,$cookieStore,$window,$location){
  $scope.forgot = {};
  // var type = $window.location.hash.substr(1);
  // console.log($location);
  var fullUrl = $location.absUrl();
  var urlPath = fullUrl.split('__');
  // console.log(urlPath[1]);

  $scope.forgotPasswordSave = function(email, password)
  {
    $scope.submitted = true;
    // console.log($scope.email+ ' ' + $scope.password+ ' ' + $scope.confirmPassword);
    // console.log(email+ ' ' + password);
    if (email !=  "" && email != undefined && password != "" && password != undefined){
      if (password == $scope.confirmPassword)
      {
        var jsonData = {"email":email, "password":password, "hashData":urlPath[1]}
        console.log(jsonData);
        $http({
            url: "/user/forgotpassword/set",
            method: "POST",
            data: {"email":email, "password":password, "hashData":urlPath[1]}
            }).success(function(data, status, headers, config) 
            {
              console.log(data);
              if (data['status'] == 200)
              {
                  // $scope.loginStatus = true;

                  // $cookieStore.remove('cookiesUserid');
                  // $cookieStore.remove('cookiesToken');
                  // $cookieStore.remove('cookiesCity');
                  // $cookieStore.remove('cookiesLocation');
                  // $cookieStore.remove('cookiesFirstname');
                  // $cookieStore.remove('cookiesLastname');
                  // $cookieStore.remove('cookiesPicUrl');
                  // $cookieStore.remove('cookiespicPath');
                  // $cookieStore.remove('searchAPI');

                  // $cookieStore.put('cookiesUserid', data['userid'], {expires : expired });
                  // $cookieStore.put('cookiesToken', data['token'], {expires : expired });
                  // $cookieStore.put('cookiesCity', data['city'], {expires : expired });
                  // $cookieStore.put('cookiesLocation', data['location'], {expires : expired });
                  // $cookieStore.put('cookiesFirstname', data['firstname'], {expires : expired });
                  // $cookieStore.put('cookiesLastname', data['lastname'], {expires : expired });
                  // $cookieStore.put('cookiesPicUrl', data['picurl'], {expires : expired });
                  // $cookieStore.put('cookiespicPath', data['picPath'], {expires : expired });

                  $window.location.href = '/';
                    
              }
              else if (data['status'] == 400)
              {
                  swal("Invalid Password.");
              }
              else if (data['status'] == 201)
              {
                  swal("Invalid User.");
              }

            }).error(function(data, status, headers, config) {
                $scope.status = status;
            });
        }
        else
        {
          swal("Password Doesn't Match.");
        }
      }
    else{
      swal("no Email/Password input");
    }
  }
});

</script>
