 
<!-- ------------------header start----------------- -->



<div class="full_header">
	<header>
		<div class="container">
        	
		   
            
			<nav class="navbar navbar-default" role="navigation">
            	 <h1 class="logo_full pull-left"><a href="index.html"><img src="images/logo.png" /></a></h1>
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					  <!--<a class="navbar-brand" href="#">Brand Logo</a>-->
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav pull-right">
						<li><a href="#" data-toggle="modal" data-target="#Postajob" style="background-color: #e94e38; border-radius: 50px;">I want to Hire</a></li>
						<li><a href="findjobs.html">Find Jobs</a></li>
						<li><a href="#">How it works</a></li>
						<li><a href="#" data-toggle="modal" data-target="#Login">Login</a></li>
						<!--<li><a href="#" data-toggle="modal" data-target="#Signup">Signup</a></li>-->
						<li>
							 <form id="demo-2">
								<input type="search" placeholder="Search">
							 </form>
						</li>
						
					  </ul>
					</div><!-- /.navbar-collapse -->
			</nav>

		  
		  
		  
		</div><!--container close-->
	
		
		</header>
	 </div><!--full_header close-->

<!--------------------header close------------------->   





