<html>
   <body>

      <form action = "http://localhost:8080/add/new/job" method = "POST"
         enctype = "multipart/form-data">
         <input type="text" name="userid" value="258817113"><br>
         <input type="text" name="token" value="VNbI2dIs4_73rYcL7dQx_ZA"><br>
         <input type="text" name="title" value="developer"><br>
         <input type="text" name="jobid" value=""><br>

         <input type="text" name="description" value="backend developer"><br>
         <input type="text" name="person" value="2"><br>
         <input type="text" name="budget" value="3.5"><br>
         <input type="text" name="budgettype" value="hourly"><br>
         <input type="text" name="hours" value="3"><br>

         <input type="text" name="city" value="252347228"><br>
         <input type="text" name="draft" value="False"><br>
         <input type="text" name="draft_data" value="false"><br>

         <input type="text" name="location" value="272936891"><br>
         <input type="text" name="skill" value="skill"><br>
         <input type="text" name="duedate" value="today"><br>
         <input type="text" name="jobonline" value="True"><br>

         <input type="date" name="certaindate" value="today"><br>

         <input type="text" name="personrequired" value="2"><br>

         <input type = "file" name = "file" multiple><br>

         <input type = "submit"/>
      </form>

   </body>
</html>