<html>
   <body>

      <form action = "http://jobwork.io:8080/upload/file" method = "POST"
         enctype = "multipart/form-data">
         <input type="text" name="userid" value="userid"><br>
         <input type="text" name="jobtitle" value="title"><br>

         <input type="text" name="description" value="description"><br>
         <input type="text" name="personselected" value="person selected"><br>
         <input type="text" name="totalbudget" value="total budget"><br>
         <input type="text" name="budgettype" value="budget type"><br>
         <input type="text" name="cityid" value="cityid"><br>
         <input type="text" name="draft" value="draft 0 or 1"><br>
         <input type="text" name="locationid" value="location id"><br>
         <input type="text" name="skill" value="skill"><br>
         <input type="date" name="date" value="date"><br>

         <input type="text" name="personrequired" value="person required"><br>

         <input type = "file" name = "file" multiple><br>

         <input type = "submit"/>
      </form>

   </body>
</html>