<!DOCTYPE html>
<html class=" ">
    <head>
        <!--  
         * @Package: Ultra Admin - Responsive Theme
         * @Subpackage: Bootstrap
         * @Version: 4.1
         * This file is part of Ultra Admin Theme.
        -->
        <title>Payments | Admin</title>
        {% include 'meta-tag.html' %}

    </head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->
    <body class=" " ng-app="jobListing" ng-controller="jobCtrl" ng-init="changeData()"><!-- START TOPBAR -->
        {% include 'top-menu.html' %}
        <!-- END TOPBAR -->
        <!-- START CONTAINER -->
        <div class="page-container row-fluid">

            <!-- SIDEBAR - START -->
           {% include 'side-left.html' %}
             <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper" style="">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-title">


                          <div class="pull-left">
                               <h1 class="title">Pending Payments</h1>                        
                          </div>

                            <!--<div class="pull-right hidden-xs">
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="index.html"><i class="fa fa-home"></i>Home</a>
                                    </li>
                                    <li>
                                        <a href="tables-basic.html">Tables</a>
                                    </li>
                                    <li class="active">
                                        <strong>Data Tables</strong>
                                    </li>
                                </ol>
                            </div>-->

                        </div>
                    </div>
                    <div class="clearfix"></div>




                    <div class="content-body">  
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget overComeDiv">
                                    <div class="widget-header transparent">
                                        <!--<h2><strong>Sortable</strong> Table</h2>-->
                                        

                                        <!--top buttons-->
                                        <div class="row" style="">
                                          <div class="col-md-12 col-sm-12 col-xs-12">
                                        
                                            </div>
                                        </div>
                                         
                                        </div>
                                        <div class="widget-content">                    
                                            <div class="table-responsive">
                                                <div class="" style="margin-bottom: 25px;">
                                                    <section class="box ">
                                                        <header class="panel_header">
                                                            <h2 class="title pull-left">Filter</h2>
                                                            <div class="actions panel_actions pull-right">
                                                                <!--<i class="box_toggle fa fa-chevron-down"></i>-->
                                                                <!--<i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>-->
                                                                <!--<i class="box_close fa fa-times"></i>-->
                                                            </div>
                                                        </header>
                                                        <div class="content-body">
                                                            <div class="row" style="margin-bottom: 25px;">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <form name="filterDate" id="filterDate" method="POST" novalidate> 
                                                                       <div class="form-group col-md-6 col-sm-6" style="padding: 0;">
                                                                            <label class="" style="margin-right: 10px;">Start Date</label>
                                                                            <input type="date" id="startgmtDate" class="form-control" ng-change="changeData()" ng-model="startgmtDate" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" size="30" />
                                                                        </div>
                                                                        <div class="form-group col-md-6 col-sm-6" style="padding: 0;">
                                                                            <label class="" style="margin-right: 10px;">End Date</label>
                                                                            <input type="date" class="form-control" id="endgmtDate" ng-model="endgmtDate" ng-change="changeData()" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" size="30" />
                                                                        </div>
                                                                   </form>
                                                                </div>
                                                            </div>

                                                            <table class="table table-striped table-bordered" cellspacing="0" width="100%" datatable="ng">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width: 20%;">Job Detail</th>
                                                                        <th>Post Date<br>Time</th>
                                                                        <th>Status</th>
                                                                        <th>Budget/<br>People</th>
                                                                        <th>Address</th>
                                                                        <th>User Info</th>
                                                                        <th data-sortable="false">Option</th>
                                                                    </tr>
                                                                </thead>
                                                                
                                                                <tbody>
                                                                    <tr ng-repeat="jobsPropertyArray in jobsArray" style="cursor: pointer;">
                                                                        <td ng-click="getdetails(jobsPropertyArray.jobid)">
                                                                            <span><b>Title&nbsp;:&nbsp;</b><p>{& jobsPropertyArray.title &}&nbsp;</p><a ng-if="jobsPropertyArray.originaljobid != null" href="http://geri.in:5000/job/"{& jobsPropertyArray.jobdescriptionurlhash &}><i class="fa fa-external-link" aria-hidden="true"></i></a></span>
                                                                            <span><b>Discription&nbsp;:&nbsp;</b><p>{& jobsPropertyArray.description &}</p></span>
                                                                            <span><p><i class="fa fa-comment"></i><span>{& jobsPropertyArray.job_comment_count &}</span> <i class="fa fa-legal"></i><span>{& jobsPropertyArray.job_bids_counts &}</span></p></span>

                                                                            <!-- <div style="width: 100%;">
                                                                                <div style="width: 49%; float: left;"><strong><span>{& jobsPropertyArray.title &}</span></strong><span>&nbsp;(<a href="http://geri.in:5000/job/"{& jobsPropertyArray.jobdescriptionurlhash &}>Publish URL</a> )</span><br><span>{& jobsPropertyArray.description &}</span><br><span>{& jobsPropertyArray.publisheddatetime &}</span><span>(XXX) Comments</span></div>
                                                                                <div style="width: 49%; float: right;"><spna>Original Job : {& jobsPropertyArray.originaljobid &}</spna><br><span>Budget : {& jobsPropertyArray.budget &}</span><br><span>{& jobsPropertyArray.addressJSON &}</span><br><span>Deadline : {& jobsPropertyArray.duedate &}</span><br><span>Total Persons : {& jobsPropertyArray.personsrequired &}</span><span>(XXX) Bids</span></div>
                                                                            </div> -->
                                                                        </td>
                                                                        <td ng-click="getdetails(jobsPropertyArray.jobid)">
                                                                            <span>{& jobsPropertyArray.createdatetime &}</span><br>
                                                                            <span>{& jobsPropertyArray.publisheddatetime &}</span><br>
                                                                            <span>{& jobsPropertyArray.duedate &}</span>
                                                                            <!-- <div style="width: 100%;">
                                                                                <span><strong>{& jobsPropertyArray.by_firstname &}&nbsp;{& jobsPropertyArray.by_lastname &}</strong></span><br>
                                                                                <span>{& jobsPropertyArray.by_email &}</span><br>
                                                                                <span>{& jobsPropertyArray.by_mobile &}</span><br>
                                                                                <span>Created Date Time : {& jobsPropertyArray.usercreateddatetime &}</span>
                                                                            </div>
                                                                            <div style="width: 49%; float: left;"><span>(XXX) Post</span></div>
                                                                            <div style="width: 49%; float: right;"><span>(XXX) Bids</span></div>
                                                                            <div style="width: 100%;"><span>SKills</span><br>
                                                                            <span>Status : {& jobsPropertyArray.jobstatus &}</span></div> -->
                                                                        </td>
                                                                        <td ng-click="getdetails(jobsPropertyArray.jobid)">
                                                                            <!-- <span>{& jobsPropertyArray.originaljobid &}</span> -->
                                                                            <span><b>{& jobsPropertyArray.jobstatus &}</b></span>
                                                                        </td>
                                                                        <td ng-click="getdetails(jobsPropertyArray.jobid)">
                                                                            <span>{& jobsPropertyArray.budget | currency &} /</span>
                                                                            <span>{& jobsPropertyArray.personsrequired &}</span>
                                                                        </td>
                                                                        <td ng-click="getdetails(jobsPropertyArray.jobid)">
                                                                            <!-- <span>{& jobsPropertyArray.addressJSON &}</span> -->
                                                                            <span ng-if="jobsPropertyArray.address != '' && jobsPropertyArray.address != ','">{& jobsPropertyArray.address &}</span><br><span>{& jobsPropertyArray.city &},&nbsp;</span><span>{& jobsPropertyArray.state &}</span><br><span>{& jobsPropertyArray.country &}</span><span ng-if="jobsPropertyArray.pincode != ''">&nbsp;-&nbsp;{& jobsPropertyArray.pincode &}</span>
                                                                        </td>
                                                                        <td ng-click="getdetails(jobsPropertyArray.jobid)">
                                                                            <span><b>{& jobsPropertyArray.by_firstname &}&nbsp;{& jobsPropertyArray.by_lastname &}</b></span><br>
                                                                            <span>{& jobsPropertyArray.by_email &}</span><br>
                                                                            <span>{& jobsPropertyArray.by_mobile &}</span><br>
                                                                            <span><p><i class="fa fa-pencil-square-o"></i><span>{& jobsPropertyArray.user_comment_count &}</span> <i class="fa fa-legal"></i><span>{& jobsPropertyArray.user_biding_count &}</span></p></span>
                                                                        </td>
                                                                        <!-- <td ng-if="jobsPropertyArray.active == true">Activated</td>
                                                                        <td ng-if="jobsPropertyArray.active == false">Deactivated</td> -->
                                                                        <td>
                                                                            <div class="btn-group btn-group-xs" ng-if="jobsPropertyArray.active == true">
                                                                                <button type="button" class="btn btn-danger" ng-model="act_deactive" ng-click="deactivate(jobsPropertyArray.jobid)" style="width: 90px;">Deactivate</button>
                                                                                <!-- <button type="button" class="btn btn-info" ng-click="edit(jobsPropertyArray.jobid)">Edit</button> -->
                                                                            </div>
                                                                            <div class="btn-group btn-group-xs" ng-if="jobsPropertyArray.active == false">
                                                                                <button type="button" class="btn btn-success" ng-model="act_deactive" ng-click="activate(jobsPropertyArray.jobid)" style="width: 90px;">Activate</button>
                                                                                <!-- <button type="button" class="btn btn-info" ng-click="edit(jobsPropertyArray.jobid)">Edit</button> -->
                                                                            </div>
                                                                        </td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </section>
                                                </div>                                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div><!--row close-->
                    </div><!--content body close-->
                        
                        
                    <button type="button" class="btn btn-info btn-lg" id="modalButton" data-toggle="modal" data-target="#myModal" style="display: none;">Open Modal</button>

                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                    <!-- {& globaljobid &} -->
                      <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header" style="background: #e94e38;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align: center; color:#fff;"><b>Details</b></h4>
                          </div>
                          <div class="modal-body">
                            <div class="col-md-6" style="margin-bottom: 20px;">
                                <div class="col-md-12" style="text-align: center;">
                                    <h4><b>User</b></h4>
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Name</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>{& jobsArrayDetail.by_firstname &}&nbsp;{& jobsArrayDetail.by_lastname &}</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Email</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p>{& jobsArrayDetail.by_email &}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Mobile</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p ng-if="jobsArrayDetail.by_mobile != ''">{& jobsArrayDetail.by_mobile &}</p>
                                    <p ng-if="jobsArrayDetail.by_mobile == ''">&nbsp;</p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Post</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p ng-if="jobsArrayDetail.user_jobPost_count != ''"><b>{& jobsArrayDetail.user_jobPost_count &}</b></p>
                                    <p ng-if="jobsArrayDetail.user_jobPost_count == ''"><b>&nbsp;</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Bids</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p ng-if="jobsArrayDetail.user_biding_count != ''"><b>{& jobsArrayDetail.user_biding_count &}</b></p>
                                    <p ng-if="jobsArrayDetail.user_biding_count == ''"><b>&nbsp;</b></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            
                            <div class="col-md-6" style="margin-bottom: 20px; border-left: 1px solid #eee;">
                                <div class="col-md-12" style="text-align: center;">
                                    <h4><p><b>Job</b></p></h4>
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Title</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p>{& jobsArrayDetail.title &}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Description</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p>{& jobsArrayDetail.description &}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Budget</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>{& jobsArrayDetail.budget | currency &}</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Persons Required</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p ng-if="jobsArrayDetail.personsrequired != '' || jobsArrayDetail.personsrequired != null">{& jobsArrayDetail.personsrequired &}</p>
                                    <p ng-if="jobsArrayDetail.personsrequired == '' || jobsArrayDetail.personsrequired == null">&nbsp;</p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Address</b></p>
                                </div>
                                <div class="col-md-6">
                                    <!-- <p>4{& jobsArrayDetail.addressJSON &}</p> -->
                                    <p ng-f="jobsArrayDetail.address != '' ">{& jobsArrayDetail.address &}<br>{& jobsArrayDetail.city &},&nbsp;{& jobsArrayDetail.state &}<br>{& jobsArrayDetail.country &}&nbsp;-&nbsp;{& jobsArrayDetail.pincode &}</p>
                                    <p ng-f="jobsArrayDetail.address == '' && jobsArrayDetail.city == '' && jobsArrayDetail.state == '' && jobsArrayDetail.country == '' && jobsArrayDetail.pincode == ''">&nbsp;</p>
                                </div>
                                <div class="col-md-6" ng-if="jobsArrayDetail.originaljobid != null">
                                    <p><b>Original JobID</b></p>
                                </div>
                                <div class="col-md-6" ng-if="jobsArrayDetail.originaljobid != null">
                                    <p ng-if="jobsArrayDetail.originaljobid != ''">{& jobsArrayDetail.originaljobid &}</p>
                                    <p ng-if="jobsArrayDetail.originaljobid == ''">&nbsp;</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div>
                                <section>
                                   <ul class="nav nav-tabs" ng-init = "tab = 1">
                                    <li ng-class="{active:tab===1}"><a href ng-click ="tab = 1">Allotted Users</a></li>
                                    <li ng-class="{active:tab===2}"><a href ng-click ="tab = 2">Comments</a></li>
                                    <li ng-class="{active:tab===3}"><a href ng-click ="tab = 3">Bids Users</a></li>
                                  </ul>
                               
                                    <div ng-show="tab === 1">
                                        <table class="table table-striped table-bordered" cellspacing="0" width="100%" datatable="ng">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10%;">Profile Image</th>
                                                    <th style="width: 25%;">User Profile</th>
                                                    <th style="width: 25%;">Budget</th>
                                                    <th style="width: 25%;">Bid Budget</th>
                                                    <th style="width: 25%;">Status</th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                                <tr ng-repeat="userPropertyArray in jobsArrayDetail.biddata"  ng-if="userPropertyArray.selected == true">                                        
                                                    <td style="vertical-align: bottom;"><img src="{&jobsArrayDetail.url&}static/images/users/{&userPropertyArray.userpicurl&}" alt="{& userPropertyArray.userid &}" height="150" width="150"></td>
                                                    <td><span><strong>{& userPropertyArray.userfirstname &}&nbsp;{& userPropertyArray.userlastname &}</strong></span><br><span>{& userPropertyArray.useremail&}</span><br><span>{& userPropertyArray.usermobile &}</span></td>
                                                    <td>{& jobsArrayDetail.budget | currency &}</td>
                                                    <td>{& userPropertyArray.finalbidamount | currency &}</td>
                                                    <td style="text-transform: uppercase;">{& userPropertyArray.status &}</td>
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-show="tab === 2">
                                        <table class="table table-striped table-bordered" cellspacing="0" width="100%" datatable="ng">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10%;">Profile Image</th>
                                                    <th style="width: 25%;">User Profile</th>
                                                    <th style="width: 25%;">Comment</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="commentPropertyArray in jobsArrayDetail.commentdata">                                        
                                                    <td style="vertical-align: bottom;"><img src="{&jobsArrayDetail.url&}static/images/users/{&commentPropertyArray.userpicurl&}" alt="{& commentPropertyArray.userid &}" height="150" width="150"></td>
                                                    <td><span><strong>{& commentPropertyArray.userfirstname &}&nbsp;{& commentPropertyArray.userlastname &}</strong></span><br><span>{& commentPropertyArray.useremail&}</span><br><span>{& commentPropertyArray.usermobile &}</span></td>                                                    
                                                    <td>{& commentPropertyArray.comment &}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-show="tab === 3">
                                        <table class="table table-striped table-bordered" cellspacing="0" width="100%" datatable="ng">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10%;">Profile Image</th>
                                                    <th style="width: 25%;">User Profile</th>
                                                    <th style="width: 25%;">Bid Time</th>
                                                    <th style="width: 25%;">Budget</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr ng-repeat="userPropertyArray in jobsArrayDetail.biddata">                                        
                                                    <td style="vertical-align: bottom;"><img src="{&jobsArrayDetail.url&}static/images/users/{&userPropertyArray.userpicurl&}" alt="{& userPropertyArray.userid &}" height="150" width="150"></td>
                                                    <td><span><strong>{& userPropertyArray.userfirstname &}&nbsp;{& userPropertyArray.userlastname &}</strong></span><br><span>{& userPropertyArray.useremail&}</span><br><span>{& userPropertyArray.usermobile &}</span></td>                                                    
                                                    <td>{& userPropertyArray.createdatetime &}</td>
                                                    <td>{& userPropertyArray.bidamount | currency &}</td>
                                                </tr>                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                          </div>
                          <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div> -->
                        </div>

                      </div>
                    </div>
                
                <div class="chatapi-windows ">
    
    
                </div>    
                </div>
        <!-- END CONTAINER -->
        <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

        {% include 'footer.html' %}
        
        <script>
            var app = angular.module('jobListing', ['datatables']);
            app.config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('{&');
                $interpolateProvider.endSymbol('&}');
            });
            app.controller('jobCtrl', function($scope,$http,$window, DTOptionsBuilder, DTColumnBuilder) 
            {
                $scope.startgmtDate = new Date();
                $scope.startgmtDate.setMonth($scope.startgmtDate.getMonth() - 1);
                $scope.endgmtDate = new Date();

                $scope.count = 0;
                $scope.userid = {{session['adminid']}};
                $scope.token = "{{session['token']}}";
                $scope.getdetails = function(jobid){
                    // // console.log(jobid);
                    angular.element('#modalButton').trigger('click');
                    $http({
                        url: "/job/list/detail",
                        method: "POST",
                        data: {"userid":$scope.userid, "token":$scope.token, "jobid":jobid}
                    }).success(function(data, status, headers, config) {
                        // console.log(data['data']);
                        $scope.jobsArrayDetail = data['data'][0];              

                    }).error(function(data, status, headers, config) {
                        $scope.status = status;
                    });
                    }

                // // console.log($scope.count);
                $scope.isSaveDisabled = false;
                $scope.isUpdateDisabled = true;

                $scope.changeData = function()
                {
                    // console.log($scope.startgmtDate + " " + $scope.endgmtDate);

                    $scope.endgmtDatemonth = $scope.endgmtDate.getMonth() + 1;
                    $scope.endgmtDateday = $scope.endgmtDate.getDate();
                    $scope.startgmtDatemonth = $scope.startgmtDate.getMonth() + 1;
                    $scope.startgmtDateday = $scope.startgmtDate.getDate();
                    
                    if($scope.startgmtDatemonth < 10)
                    {
                        $scope.startgmtDatemonth = "0" + $scope.startgmtDatemonth;
                    }
                    if($scope.startgmtDateday < 10)
                    {
                        $scope.startgmtDateday = "0" + $scope.startgmtDateday;
                    }
                    if($scope.endgmtDatemonth < 10)
                    {
                        $scope.endgmtDatemonth = "0" + $scope.endgmtDatemonth;
                    }
                    if($scope.endgmtDateday < 10) 
                    {
                        $scope.endgmtDateday = "0" + $scope.endgmtDateday;
                    }

                    // var before = day + '-' + oldmonth + '-' + $scope.startgmtDate.getFullYear();
                    $scope.startDateTime = $scope.startgmtDateday + '-' + $scope.startgmtDatemonth + '-' + $scope.startgmtDate.getFullYear() + ' ' + '00:00:00';

                    // var today = endgmtDateday + '-' + endgmtDatemonth + '-' + $scope.endgmtDate.getFullYear();
                    $scope.endDateTime = $scope.endgmtDateday + '-' + $scope.endgmtDatemonth + '-' + $scope.endgmtDate.getFullYear() + ' ' + '23:59:59';
                
                    // console.log($scope.startDateTime + " " + $scope.endDateTime);

                    $http({
                            url: "/job/list",
                            method: "POST",
                            data: {"userid":$scope.userid, "token":$scope.token, "startDateTime":$scope.startDateTime, "endDateTime":$scope.endDateTime}
                        }).success(function(data, status, headers, config) {
                            console.log(data);
                            $scope.jobsArray = data['data'];
                            $scope.count++;
                            // // console.log(data['data']);
                            

                        }).error(function(data, status, headers, config) {
                            // // console.log(data);
                            // // console.log(status);
                            $scope.status = status;
                            //$window.location.href="/";
                        });

                }
                $scope.deactivate = function(jobid) 
                    {
                        if (jobid)
                        { 
                            $http({
                                url: "/job/activate/deactivate",
                                method: "POST",
                                data: {"userid":$scope.userid, "token":$scope.token,"jobid":jobid , "action" : false}
                            }).success(function(data, status, headers, config) 
                            {
                                $scope.updatejob = data['data'];
                                angular.forEach($scope.updatejob, function(value, key) {
                                  angular.forEach($scope.jobsArray, function(value2, key2) {
                                      if (value2.jobid == value.jobid)
                                      {
                                        $scope.jobsArray[key2].active = value.active;
                                        return false;
                                      }
                                    });
                                });
                                if (status == 200)
                                {
                                    swal("Deactivate!", "Job successfully deactivated.", "success");
                                }

                            }).error(function(data, status, headers, config) {
                                $scope.status = status;
                            });
                        }    
                    };
                $scope.activate = function(jobid) 
                    {
                        if (jobid) 
                        { 
                            $http({
                                url: "/job/activate/deactivate",
                                method: "POST",
                                data: {"userid":$scope.userid, "token":$scope.token,"jobid":jobid , "action" : true}
                            }).success(function(data, status, headers, config) 
                            {
                                $scope.updatejob = data['data'];
                                angular.forEach($scope.updatejob, function(value, key) {
                                  angular.forEach($scope.jobsArray, function(value2, key2) {
                                      if (value2.jobid == value.jobid)
                                      {
                                        $scope.jobsArray[key2].active = value.active;
                                        return false;
                                      }
                                    });
                                });
                                
                                if (status == 200)
                                {
                                    swal("Activated!", "Job successfully activated.", "success");
                                }

                            }).error(function(data, status, headers, config) {
                                $scope.status = status;
                            });
                        }    
                    };
            });
        </script>
    </body>
</html>



