<!-- CORE JS FRAMEWORK - START --> 
<script src="static/assets/js/jquery-1.11.2.min.js" type="text/javascript"></script> 
<script src="static/assets/js/jquery.easing.min.js" type="text/javascript"></script>
<script src="static/js/sweetalert.min.js" type="text/javascript"></script> 
<script src="static/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> 
<script src="static/assets/plugins/pace/pace.min.js" type="text/javascript"></script>  
<script src="static/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js" type="text/javascript"></script> 
<script src="static/assets/plugins/viewport/viewportchecker.js" type="text/javascript"></script>
<script src="static/assets/plugins/select2/select2.js" type="text/javascript"></script>
<script src="static/assets/plugins/select2/select2.min.js" type="text/javascript"></script> 

<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

<!-- CORE JS FRAMEWORK - END --> 

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.4/angular-datatables.min.js"></script>
<script src="static/js/angularpagination.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-cookies.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-loader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-message-format.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0/angular-moment.min.js"></script>
<script src="static/js/moment-timezone-with-data.js"></script>

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 
<script src="static/assets/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="static/assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script>

<!-- CORE TEMPLATE JS - START --> 
<script src="static/assets/js/scripts.js" type="text/javascript"></script>

<!-- Select2 JS -->
<script src="static/front_end/js/select2.js"></script>

<!-- Ellipsis -->
<script src="static/js/angular-ellipsis.js"></script>

<!-- Select2 Angular -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js"></script>

<!-- <script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.core.js"></script>
<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.datepicker.js"></script> -->
  
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.js'></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.js'></script>
<!-- Select2 JS AND CSS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.min.js"></script>

<!-- END CORE TEMPLATE JS - END --> 

<!-- Sidebar Graph - START --> 
<!-- <script src="static/assets/plugins/sparkline-chart/jquery.sparkline.min.js" type="text/javascript"></script> -->
<!-- <script src="static/assets/js/chart-sparkline.js" type="text/javascript"></script> -->
<!-- Sidebar Graph - END --> 



<!-- General section box modal start -->
<div class="modal" id="section-settings" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
    <div class="modal-dialog animated bounceInDown">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Section Settings</h4>
            </div>
            <div class="modal-body">

                Body goes here...

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-success" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- modal end -->